# =========================
# Node.js
# =========================
DeepFake-Detection-Model-main/frontend/node_modules/
DeepFake-Detection-Model-main/frontend/dist/

# Environment files
.env
*.env

# =========================
# Python
# =========================
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*